################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DataStructureEx2/v16/ipch/AutoPCH/58c244c47636143f
/.vs/DataStructureEx2/v16/Browse.VC.opendb
/.vs/DataStructureEx2/v16/Browse.VC.db-wal
/.vs/DataStructureEx2/v16/Browse.VC.db-shm
/.vs/DataStructureEx2/v16/Browse.VC.db
/.vs/DataStructureEx2/v16/.suo
/.vs/DataStructureEx2/v16/ipch/AutoPCH/71f240f5ee3f38d9/MAXHEAP.ipch
/DataStructureEx2/x64/Debug
/x64/Debug
